.mr-form-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#mr-patients-table {
    margin-top: 20px;
}

#mr-create-record-form,
#mr-full-create-form,
#mr-view-record-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.mr-selected-patient-info {
    background: #f0f7ff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.select2-container {
    z-index: 10000 !important;
}

.persian-datepicker-container {
    z-index: 100000 !important;
}

.button-link-delete {
    color: #dc3545 !important;
}
